<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Timeline</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="logo">The Timeline</div>
    <div class="header-path header-style">
        <p>http://localhost: 3000</p>
    </div>
    <div class="header-search header-style">Search...</div>
</header>
<section>
    <form method="post" action="/addPost">
        <span  class="user-form">
            <span>
                <label for="email" class="user-label">Enter your Email</label>
                <br>
                <input type="email" name="email" id="email" class="user-input">
            </span>
            <span>
                <label for="password" class="user-label">Enter your Password</label>
                <br>
                <input type="password" name="password" id="password" class="user-input">
            </span>
        </span>
        <br>
        <label for="post" class="post-label">Post a message</label>
        <br>
        <input type="text" name="post" id="post">
        <br>
        <button id="btnPost">Post a message</button>
    </form>
    <ul>
        <% users.sort(function(a, b) { return new Date(b.created_at) - new Date(a.created_at) }).forEach(function(users) { %>
            <li class="user-list">
                <p><%= users.email %> - <%= users.created_at %></p>
                <p class="user-list-post"><%= users.post %></p>
                <form method="post" action="/deletePost">
                    <input type="hidden" name="postId" value="<%= users.postId %>">
                    <button type="submit" id="btnDelete">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
</section>
<footer>
    <p>Created by Kyrylo Kubrak</p>
</footer>
</body>
</html>