<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Timeline</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="logo">The Timeline</div>
    <div class="header-path header-style">
        <p>http://localhost</p>
    </div>
    <div class="header-search header-style">Search</div>
</header>
<section>
    <form method="post" action="/addPost">
        <label for="text">Post a message</label>
        <br>
        <input type="text" name="text" id="text">
        <br>
        <button id="btnPost">Post a message</button>
    </form>
    <% if(err) { %>
        <h5 id="error"><%= err %></h5>
    <% } %>
    <% if (user) { %>
        <div id="result"><%= user.text %></div>
    <% } %>
</section>
<footer>
    <p>Created by Kyrylo Kubrak</p>
</footer>
</body>
</html>