@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mynerve', cursive;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    max-width: 1000px;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
}
header{
    background-color: #c0c0c0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}
.header-path{
    width: 50%;
}
.header-search{
    width: 15%;
}
.header-style{
    padding-left: 5px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
}
footer{
    background-color: #c0c0c0;
    padding: 15px;
    border-top: 3px solid black;
}
section{
    padding: 20px;
}
input{
    margin: 10px;
    width: 98%;
    height: 130px;
    padding: 5px;
    display: inline-block;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
}
#btnPost{
    margin-left: 88%;
    padding: 5px;
    font-family: 'Mynerve', cursive;
    color: white;
    background-color: dodgerblue;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
}